/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
  }

 
