<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <label>
      EMAIL:
    </label>
    <input type="text" formControlName="email" placeholder="email id">
  </div>
    <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.touched || loginForm.controls.email.dirty)">
      "Invalid email"

  </div>
  <br>
  <div>
    <label>
      PASSWORD:
    </label>
    <input type="text" formControlName="password" placeholder="password">
    
  </div>
  <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.touched || loginForm.controls.password.dirty)">
      "Invalid Password"
    </div>
  <br>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>